body{
    margin: 0;
    padding: 0;
    background:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(../img/index-bg.jpg) no-repeat;
    background-size: 25px 25px,cover;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.header .container-fluid .titre {
  text-align: center;
  font-family: 'Bangers', cursive;
  color: #e74c3c;
}

.header .container-fluid .titre h1 {
  font-size: 115px;
  letter-spacing: 20px;
}

.header .container-fluid .navigation {
  text-align: center;
  font-family: 'Bangers', cursive;
}

.header .container-fluid .navigation a {
  color: white;
  padding: 25px;
  font-size: 55px;
}

.header .container-fluid .navigation a.active {
  color: #e74c3c;
  padding: 25px;
  font-size: 55px;
}

.header .container-fluid .navigation a:hover {
  color: #e74c3c;
  transition: 0.8s;
}

.films h1 {
    text-align: center;
    color: white;
    margin-top: 25px;
    font-family: 'Bangers', cursive;
    letter-spacing: 12px;
    font-size: 75px;
}

.films .nos-films {
  color: black;
  text-align: center;
  margin-top: 35px;
  font-family: 'Bangers', cursive;
}

.films .card-body {
  overflow: scroll;
  font-size: 25px;
  height: 300px;
}

.films .card-header {
  color: #e74c3c;
  font-size: 30px;
}
