body{
  margin: 0;
  padding: 0;
  background: #34495e;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
    text-decoration: none;
}

.films h1 {
    text-align: center;
    color: white;
    margin-top: 45px;
    margin-bottom: 45px;
    letter-spacing: 8px;
    font-size: 75px;
    font-weight: bold;
}

.films .nos-films {
  color: white;
  text-align: center;
  margin-top: 35px;
}

.films .card {
  background: transparent;
  border: none;
}

.films .card-body {
  overflow-y: auto;
  font-size: 25px;
  height: 350px;
  border: none;
}

.films .card-header {
  color: #e74c3c;
  font-size: 30px;
  border: none;
  background: #34495e;
}

.films .nb_horreur span {
  color: #e67e22;
}
