body{
    margin: 0;
    padding: 0;
    background: #34495e;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    text-decoration: none;
}

.profil h1 {
    text-align: center;
    color: white;
    margin-top: 45px;
    margin-bottom: 45px;
    letter-spacing: 8px;
    font-size: 75px;
    font-weight: bold;
}

.profil h3 {
  text-align: center;
  color: white;
}

.profil .btn-custom {
  background-color: #e67e22;
}

.help h4{
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 8px;
}
