body{
    margin: 0;
    padding: 0;
    background:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(../img/index-bg.jpg) no-repeat;
    background-size: 25px 25px,cover;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.header .container-fluid .titre {
  text-align: center;
  font-family: 'Bangers', cursive;
  color: #e74c3c;
}

.header .container-fluid .titre h1 {
  font-size: 115px;
  letter-spacing: 20px;
}

.header .container-fluid .navigation {
  text-align: center;
  font-family: 'Bangers', cursive;
}

.header .container-fluid .navigation a {
  color: white;
  padding: 25px;
  font-size: 55px;
}

.header .container-fluid .navigation a.active {
  color: #e74c3c;
  padding: 25px;
  font-size: 55px;
}

.header .container-fluid .navigation a:hover {
  color: #e74c3c;
  transition: 0.8s;
}

.nolog .icon {
  margin-top: 50px;
  text-align: center;
}

.nolog .icon i {
  color: white;
}

.nolog .explain {
  text-align: center;
  color: white;
  font-family: 'Bangers', cursive;
}

.nolog .button {
  text-align: center;
  margin-top: 50px;
  font-family: 'Bangers', cursive;
  color: white;
}

.nolog .button a {
  padding: 15px;
  color: white;
  border-radius: 15px;
  font-size: 45px;
  margin-left: 35px;
}

.nolog .button a:hover {
  color: #e74c3c;
  transition: 0.8s;
}
